<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Indoor Cycle</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th,td   {
        text-align: left;
      }
      </style>
  </head>
  <body>
    <h1> Indoor Cycle class Programme</h1>
    <br/>
    <table>
      <tr>
        <th>Title</th><th>Artist</th><th>Duration</th><th>Aim</th><th>Instructions</th>
      </tr>
      <tr>
        <td>{{warm_up[1]}}</td><td>{{warm_up[2]}}</td><td>{{warm_up[3]}}</td><td>{{warm_up[4]}}</td><td>{{warm_up[5]}}</td>
      </tr>

      <tr>
        <td>{{three_climbs[0][1]}}</td><td>{{three_climbs[0][2]}}</td><td>{{three_climbs[0][3]}}</td><td>{{three_climbs[0][4]}}</td><td>{{three_climbs[0][5]}}</td>
      </tr>
      <tr>
        <td>{{three_endurances[0][1]}}</td><td>{{three_endurances[0][2]}}</td><td>{{three_endurances[0][3]}}</td><td>{{three_endurances[0][4]}}</td><td>{{three_endurances[0][5]}}</td>
      </tr>
      <tr>
        <td>{{three_hovers[0][1]}}</td><td>{{three_hovers[0][2]}}</td><td>{{three_hovers[0][3]}}</td><td>{{three_hovers[0][4]}}</td><td>{{three_hovers[0][5]}}</td>
      </tr>
      <tr>
        <td>{{three_sprints[0][1]}}</td><td>{{three_sprints[0][2]}}</td><td>{{three_sprints[0][3]}}</td><td>{{three_sprints[0][4]}}</td><td>{{three_sprints[0][5]}}</td>
      </tr>   

      <tr>
        <td>{{three_climbs[1][1]}}</td><td>{{three_climbs[1][2]}}</td><td>{{three_climbs[1][3]}}</td><td>{{three_climbs[1][4]}}</td><td>{{three_climbs[1][5]}}</td>
      </tr>
      <tr>
        <td>{{three_endurances[1][1]}}</td><td>{{three_endurances[1][2]}}</td><td>{{three_endurances[1][3]}}</td><td>{{three_endurances[1][4]}}</td><td>{{three_endurances[1][5]}}</td>
      </tr>
      <tr>
        <td>{{three_hovers[1][1]}}</td><td>{{three_hovers[1][2]}}</td><td>{{three_hovers[1][3]}}</td><td>{{three_hovers[1][4]}}</td><td>{{three_hovers[1][5]}}</td>
      </tr>
      <tr>
        <td>{{three_sprints[1][1]}}</td><td>{{three_sprints[1][2]}}</td><td>{{three_sprints[1][3]}}</td><td>{{three_sprints[1][4]}}</td><td>{{three_sprints[1][5]}}</td>
      </tr> 

      <tr>
        <td>{{three_climbs[2][1]}}</td><td>{{three_climbs[2][2]}}</td><td>{{three_climbs[2][3]}}</td><td>{{three_climbs[2][4]}}</td><td>{{three_climbs[2][5]}}</td>
      </tr>
      <tr>
        <td>{{three_endurances[2][1]}}</td><td>{{three_endurances[2][2]}}</td><td>{{three_endurances[2][3]}}</td><td>{{three_endurances[2][4]}}</td><td>{{three_endurances[2][5]}}</td>
      </tr>
      <tr>
        <td>{{three_hovers[2][1]}}</td><td>{{three_hovers[2][2]}}</td><td>{{three_hovers[2][3]}}</td><td>{{three_hovers[2][4]}}</td><td>{{three_hovers[2][5]}}</td>
      </tr>
      <tr>
        <td>{{three_sprints[2][1]}}</td><td>{{three_sprints[2][2]}}</td><td>{{three_sprints[2][3]}}</td><td>{{three_sprints[2][4]}}</td><td>{{three_sprints[2][5]}}</td>
      </tr> 

      <tr>
        <td>{{recovery[1]}}</td><td>{{recovery[2]}}</td><td>{{recovery[3]}}</td><td>{{recovery[4]}}</td><td>{{recovery[5]}}</td>
      </tr>
    </table>
   
  </body>
</html>