<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN" "http://www.w3.org/Math/DTD/mathml2/xhtml-math11-f.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
		<!--This file was converted to xhtml by LibreOffice - see https://cgit.freedesktop.org/libreoffice/core/tree/filter/source/xslt for the code.-->
		<head profile="http://dublincore.org/documents/dcmi-terms/">
			<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
			<title xml:lang="en-US">Indoor Cycle Class</title>
			<meta name="DCTERMS.title" content="" xml:lang="en-US"/>
			<meta name="DCTERMS.language" content="en-US" scheme="DCTERMS.RFC4646"/>
			<meta name="DCTERMS.source" content="http://xml.openoffice.org/odf2xhtml"/>
			<meta name="DCTERMS.issued" content="2020-09-28T11:13:49.023941981" scheme="DCTERMS.W3CDTF"/>
			<meta name="DCTERMS.modified" content="2020-09-28T11:15:02.685756622" scheme="DCTERMS.W3CDTF"/>
			<meta name="DCTERMS.provenance" content="" xml:lang="en-US"/>
			<meta name="DCTERMS.subject" content="," xml:lang="en-US"/>
			<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" hreflang="en"/>
			<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" hreflang="en"/>
			<link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype/" hreflang="en"/>
			<link rel="schema.DCAM" href="http://purl.org/dc/dcam/" hreflang="en"/>
			<style type="text/css">
				@page {  }
				table { border-collapse:collapse; border-spacing:0; empty-cells:show; width:500px }
				td, th { vertical-align:top; font-size:10pt;}
				h1, h2, h3, h4, h5, h6 { clear:both;}
				p { white-space: nowrap; }
				ol, ul { margin:0; padding:0;}
				li { list-style: none; margin:0; padding:0;}
				/* "li span.odfLiEnd" - IE 7 issue*/
				li span. { clear: both; line-height:0; width:0; height:0; margin:0; padding:0; }
				span.footnodeNumber { padding-right:1em; }
				span.annotation_style_by_filter { font-size:95%; font-family:Arial; background-color:#fff000;  margin:0; border:0; padding:0;  }
				span.heading_numbering { margin-right: 0.8rem; }* { margin:0;}
				.ta1 { writing-mode:horizontal-tb; direction:ltr; }
				.ce1 { font-family:Calibri; background-color:#808080; vertical-align:top; text-align:center ! important; margin-left:0cm; writing-mode:color:#000000; font-size:11pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
				.ce10 { font-family:Calibri; background-color:#ed7d31; vertical-align:top; margin-left:0cm; writing-mode:color:#000000; font-size:11pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
				.ce11 { font-family:Liberation Sans; background-color:transparent; vertical-align:top; margin-left:0cm; writing-mode:}
				.ce12 { font-family:Calibri; background-color:#ed7d31; vertical-align:top; margin-left:0cm; writing-mode:font-size:11pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
				.ce13 { font-family:Calibri; background-color:transparent; vertical-align:top; text-align:left ! important; margin-left:0cm; writing-mode:color:#000000; font-size:11pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
				.ce14 { font-family:Liberation Sans; background-color:transparent; vertical-align:top; margin-left:0cm; writing-mode:}
				.ce15 { font-family:Liberation Sans; background-color:#ed7d31; vertical-align:top; margin-left:0cm; writing-mode:}
				.ce16 { font-family:Calibri; background-color:#ed7d31; vertical-align:top; margin-left:0cm; writing-mode:font-size:11pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
				.ce17 { font-family:Calibri; background-color:#ed7d31; vertical-align:top; margin-left:0cm; writing-mode:color:#000000; font-size:11pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
				.ce18 { font-family:Liberation Sans; background-color:transparent; vertical-align:top; margin-left:0cm; writing-mode:}
				.ce19 { font-family:Liberation Sans; background-color:transparent; vertical-align:top; text-align:left ! important; margin-left:0cm; writing-mode:}
				.ce2 { font-family:Calibri; background-color:transparent; vertical-align:top; text-align:center ! important; margin-left:0cm; writing-mode:color:#000000; font-size:11pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
				.ce20 { font-family:Liberation Sans; background-color:#ed7d31; vertical-align:top; text-align:left ! important; margin-left:0cm; writing-mode:}
				.ce21 { font-family:Calibri; background-color:#ed7d31; vertical-align:top; margin-left:0cm; writing-mode:color:#000000; font-size:11pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
				.ce3 { font-family:Calibri; background-color:#ed7d31; vertical-align:top; text-align:center ! important; margin-left:0cm; writing-mode:color:#000000; font-size:11pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
				.ce4 { font-family:Calibri; background-color:#ed7d31; vertical-align:top; text-align:center ! important; margin-left:0cm; writing-mode:font-size:11pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
				.ce5 { font-family:Liberation Sans; background-color:transparent; vertical-align:top; margin-left:0cm; writing-mode:}
				.ce6 { font-family:Calibri; background-color:#808080; vertical-align:top; margin-left:0cm; writing-mode:color:#000000; font-size:11pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
				.ce7 { font-family:Liberation Sans; background-color:#ed7d31; vertical-align:top; margin-left:0cm; writing-mode:}
				.ce8 { font-family:Liberation Sans; background-color:transparent; vertical-align:top; margin-left:0cm; writing-mode:}
				.ce9 { font-family:Calibri; background-color:#ed7d31; vertical-align:top; margin-left:0cm; writing-mode:font-size:11pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }


			</style>
		</head>
		<body dir="ltr" >
			<h1>
				45 Min Indoor Cycle Class Programme
			</h1>
			
			<table border="0" cellspacing="0" cellpadding="0"  >

				<tr class="ro1">
					<td class="ce1">
						<p>Track No</p>
					</td>
					<td class="ce6">
						<p>Song name </p>
					</td>
					<td  class="ce6">
						<p>Artist</p>
					</td>
					<td class="ce6">
						<p>Duration</p>
					</td>
					<td  class="ce6">
						<p>Main Aim</p>
					</td>
					<td class="ce6">
						<p>Instuctions </p>
					</td>
				</tr>
				<tr class="ro2">
					<td class="ce2">
						<p>1</p>
					</td>
					<td class="ce5">
						<p>Read All About it - Cahill Remix</p>
					</td>
					<td  class="ce5">
						<p>Prof Green, Emeli Sande, Cahill</p>
					</td>
					<td class="ce14">
						<p>06:21</p>
					</td>
					<td  class="ce5">
						<p>Warm up Flat, Standing jog, jump</p>
					</td>
					<td class="ce19">
						<p>R up 00:30. R up 01:00. R up 1:32. R up &amp; stand up. </p>
						<p>2:02 R up. 2:25-2:55(30s) Sit and sprint. 2:55 steated. 3:25-3:47(20s ish) Sprint.</p>   
						<p>4:03-4:18(15s) Stand. 4:18-4:47(30s) hover.</p>
						<p>4:47-5:18(30s) sit and sprint. 5:18-6.21(60ish) -  standing jog </p>
					</td>
				</tr>
				<tr class="ro3">
					<td class="ce3">
						<p>2</p>
					</td>
					<td class="ce7">
						<p>Next to me</p>
					</td>
					<td  class="ce7">
						<p>Emeli Sande</p>
					</td>
					<td class="ce15">
						<p>03:17</p>
					</td>
					<td  class="ce7">
						<p>Seated climb</p>
					</td>
					<td class="ce20">
						<p>Stay seated. Increase res every 30 secs (6 times</p>
					</td>
				</tr>
				<tr class="ro3">
					<td class="ce2">
						<p>3</p>
					</td>
					<td class="ce8">
						<p>Everybody Talks</p>
					</td>
					<td  class="ce11">
						<p>Neon Trees </p>
					</td>
					<td class="ce14">
						<p>02:57</p>
					</td>
					<td  class="ce5">
						<p>sprints</p>
					</td>
					<td class="ce19">
						<p>Sprint on the chorus. 0.31(22).  1.12-1.34(22). 2.10(48)</p>
					</td>
				</tr>
				<tr class="ro4">
					<td class="ce3">
						<p>4</p>
					</td>
					<td class="ce7">
						<p>Stupid love</p>
					</td>
					<td  class="ce7">
						<p>Lady Gaga</p>
					</td>
					<td class="ce15">
						<p>03:13</p>
					</td>
					<td  class="ce7">
						<p>Climb/hovers</p>
					</td>
					<td class="ce20">
						<p>Start seating. </p>
						<p>0:25 0:29 0:33 up Res. 0:41 Half turn &amp; stand up Jog slower.  0:57-1:14 Up res and Hover.  1:14 Sit and lighten the load.</p>
						<p>1:30 1:34 1:38 up Res. 1:46 Half turn &amp; stand up. Jog slower. 2:02-2:39 Up res and Hover. 2:39 1x1 hovers to end</p>
					</td>
				</tr>
				<tr class="ro5">
					<td class="ce2">
						<p>5</p>
					</td>
					<td class="ce5">
						<p>Outside (feat. Ellie</p>
					</td>
					<td  class="ce5">
						<p>Calvin harris</p>
					</td>
					<td class="ce14">
						<p>03:47</p>
					</td>
					<td  class="ce5">
						<p>Sprints</p>
					</td>
					<td class="ce19">
						<p>0:40 up res. 0:50 up res. 1:10-1:25(15s) Sprint.</p>
						<p>1:55up res 2:10 up res. 2:25-2:40(15s) Sprint. </p>
						<p>2:55 start building up. 3:14-3:34(20s)</p>
					</td>
				</tr>
				<tr class="ro6">
					<td class="ce4">
						<p>6</p>
					</td>
					<td class="ce9">
						<p>Uprising</p>
					</td>
					<td  class="ce12">
						<p>Muse</p>
					</td>
					<td class="ce16">
						<p>05:05</p>
					</td>
					<td  class="ce12">
						<p>Standing Climb</p>
					</td>
					<td class="ce9">
						<p>0:41. 1.03. 1:18. 1:26 (urn up &amp; stand up) 1.55(Sit down only). 2:19. 2:32. 2:40( up &amp; stand up). </p>
						<p>3:16 (sit down &amp; take abit of and recover).</p>
						<p>3:49 (start adding abit). 4:07 (big amount and stand up) hold for the last minute</p>
					</td>
				</tr>
				<tr class="ro2">
					<td class="ce2">
						<p>7</p>
					</td>
					<td class="ce5">
						<p>Hot right now</p>
					</td>
					<td  class="ce5">
						<p>DJ Fresh, Rita ora</p>
					</td>
					<td class="ce14">
						<p>03:00</p>
					</td>
					<td  class="ce5">
						<p>speed endurance</p>
					</td>
					<td class="ce19">
						<p>30s to get set. 2:30 endurance.</p>
					</td>
				</tr>
				<tr class="ro7">
					<td class="ce3">
						<p>8</p>
					</td>
					<td class="ce7">
						<p>Love yourself</p>
					</td>
					<td  class="ce7">
						<p>Billy Porter</p>
					</td>
					<td class="ce15">
						<p>04:12</p>
					</td>
					<td  class="ce7">
						<p>standing jog, waves, seated finsih</p>
					</td>
					<td class="ce20">
						<p>start standing jog. 0:38-0:53 back and hold. 0:53- 1:09 1x1 up and down. </p>
						<p>1:09 up and hold. 1:39-1:54  back and hold. 1:54-2:09  1x1 up and down.  </p>
						<p>2:09- 2:40 up and hold. 2:40-3:03 back in hold. 3:03-3:33 1x1 to end  </p>
						<p>Cut track here</p>
					</td>
				</tr>
				<tr class="ro3">
					<td class="ce2">
						<p>9</p>
					</td>
					<td class="ce5">
						<p>Take me home - radio edit</p>
					</td>
					<td  class="ce5">
						<p>Cash cash, Bebe Rexha</p>
					</td>
					<td class="ce14">
						<p>03:26</p>
					</td>
					<td  class="ce5">
						<p>Final climb</p>
					</td>
					<td class="ce19">
						<p>up when she says 'home' 7 1 7 (15) hold for 55s - the Last lot we don’t do</p>
					</td>
				</tr>
				<tr class="ro6">
					<td class="ce3">
						<p>10</p>
					</td>
					<td class="ce10">
						<p>Lifestyle of the rich and famous</p>
					</td>
					<td  class="ce10">
						<p>Good Charlotte</p>
					</td>
					<td class="ce17">
						<p>03:10</p>
					</td>
					<td  class="ce10">
						<p>sprints</p>
					</td>
					<td class="ce21">
						<p>Start seated. 0:28 up resis stand up jog. 0:50 leave resis sit andsprint(18 sec).</p>
						<p>1:27 up resis stand up jog. 1:49 leave resis sit and sprint.</p>
						<p>2:07 recovery. 2:25 turn up resis stand slow jog. 2:43  sit and sprint.</p>
					</td>
				</tr>
				<tr class="ro3">
					<td class="ce2">
						<p>11</p>
					</td>
					<td class="ce5">
						<p>Only us</p>
					</td>
					<td  class="ce5">
						<p>Paperwhite</p>
					</td>
					<td class="ce14">
						<p>03:24</p>
					</td>
					<td  class="ce5">
						<p>Recovery</p>
					</td>
					<td class="ce5"> </td>
				</tr>
				<tr class="ro8">
					<td class="ce5"> </td>
					<td class="ce5"> </td>
					<td  class="ce5"> </td>
					<tdclass="ce14"> </td>
					<td  class="ce5"> </td>
					<td class="ce11"> </td>
				</tr>
				<tr class="ro9">
					<td class="ce5"> </td>
					<td class="ce5"> </td>
					<td  class="ce13">
						<p>Total:</p>
					</td>
					<td class="ce18">
						<p>00:41:52</p>
					</td>
					<td  class="ce5"> </td>
					<td class="ce11"> </td>
				</tr>
			</table>
		</body>
	</html>
	
	